body{

background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

color:white;

}

.container{

background:rgba(0,0,0,0.6);

padding:40px;

border-radius:15px;

text-align:center;

width:650px;

}

.buttons{

margin-top:20px;

}

button{

padding:12px 25px;

margin:10px;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

background:#00c6ff;

color:white;

}

#preview{

margin-top:20px;

}

#result{

margin-top:20px;

font-size:20px;

}